<h5 class="mb-3 text-info">Componente <pre class="d-inline">form-templ-driven01</pre></h5>
<div class="row">
    <div class="custom-control custom-switch col-12 col-sm-6">
            <input type="checkbox" class="custom-control-input" id="customSwitch1" (input)="prenderApagarExplicacion()" 
            [checked]="explicacionOn">
            <label class="custom-control-label" for="customSwitch1">Mostrar/Ocultar decripci&oacute;n y comentarios ejemplo</label>
    </div>
    <div class="custom-control custom-switch col-12 col-sm-6">
            <input type="checkbox" class="custom-control-input" id="customSwitch2" (input)="prenderApagarDepuracion()" 
            [checked]="depuracionOn">
            <label class="custom-control-label" for="customSwitch2">Activar/desactivar modo depuracion</label>
    </div>
</div>
<div *ngIf="explicacionOn" class="table-secondary p-3 my-3 rounded">
    <div class="text-center font-weight-bold">Ejemplo de formulario de tipo <i>Template Driven Forms</i> con validaciones t&iacute;picas de negocio</div>
    <div class="text-muted mt-2">
        Caracter&iacute;sticas:
        <ul>
            <li>Los campos en estado v&aacute;lido tienen una franja vertical de color <span class="text-success">verde</span> a la izquierda.</li>
            <li>Los campos en estado inv&aacute;lido tienen una franja vertical de color <span class="text-danger">rojo</span> a la izquierda.</li>
            <li>El bot&oacute;n de registro se habilita solamente cuando todos los campos son v&aacute;lidos.</li>
            <li>Las validaciones de cada campo se disparan cuando &eacute;stos pierden el foco. Si su valor es inv&aacute;lido se hace visible un mensaje para el usuario.</li>
            <li>El ejemplo propone una estructura simple para formularios de captura basado en <i>ngModel</i></li>
        </ul>
        Aspectos t&eacute;cnicos relevantes:
        <ul>
            <li>Las funciones de validaci&oacute;n son manuales. Se utilizan reglas personalizadas y una expresi&oacute;n regular en el caso del c&oacute;digo postal (C.P.)</li>
            <li>La lista de selecci&oacute;n de <i>Municipio</i> depende del estado seleccionado en la lista de selecci&oacute;n <i>Estado</i>.</li>
            <li>El <i>template</i> usa referencias a objetos internos del <i>ng model</i> subyacente, a nivel campo y a nivel formulario.</li>
        </ul>
        Funcionalidades:
        <ul>
            <li>Se pueden habilitar vistas de monitoreo haciendo el campo <i>depuracionOn</i> verdadero.</li>
            <li>Se pueden deshabilitar esta explicaci&oacute;n haciendo el campo <i>explicacionOn</i> falso.</li>
        </ul>
    </div>

</div>
<div class="p-3  border border-success rounded rounded-lg mt-3">
        <form #formDir="ngForm">
            <div class="text-primary font-weight-bold">Dirección:</div>
            <div class="form-row ">
                <div class="col-sm-12 col-md-8 col-lg-9  my-2">
                    <input type="text" class="form-control" placeholder="Calle" 
                    [(ngModel)] ="direccionForm.calle" name="calle"
                    [class.valorValido] = "calleOk"
                    [class.valorInvalido] = "!calleOk"
                    (blur) = "validarCalle()"
                    required #spyDir #inNombre="ngModel">
                    <div [hidden]="!avisarErrorCalle" class="alert alert-danger">
                        La calle es un campo obligatorio
                    </div>
                    <i *ngIf="depuracionOn" class="font-smaller text-danger">
                        {{spyDir.className.replace('form-control','')}}</i>
                </div>
                <div class="col-6 col-sm my-2">
                    <input type="text" class="form-control" placeholder="Num Ext"
                    [(ngModel)] ="direccionForm.numeroExt" name="numeroExt"
                    [class.valorValido] = "numeroExtOk"
                    [class.valorInvalido] = "!numeroExtOk"
                    (blur) = "validarNumeroExt()"
                    required>
                    <div [hidden]="!avisarErrorNumExt" class="alert alert-danger">
                        El n&uacute;mero exterior es un campo obligatorio
                    </div>
                </div>
                <div class="col-6 col-sm my-2">
                    <input type="text" class="form-control" placeholder="Num Int"
                    [(ngModel)] ="direccionForm.numeroInt" name="numeroInt"
                    >
                </div>
            </div>
            <div class="form-row ">
                <div class="col-sm-12 col-md-8 col-lg-9  my-2">
                    <input type="text" class="form-control " placeholder="Colonia"
                    [(ngModel)] ="direccionForm.colonia" name="colonia"
                    [class.valorValido] = "coloniaOk"
                    [class.valorInvalido] = "!coloniaOk"
                    (blur) = "validarColonia()"
                    required #spyColonia #inColonia="ngModel">
                    <div [hidden]="!avisarErrorColonia" class="alert alert-danger">
                        La colonia es un campo obligatorio
                    </div>
                    <i *ngIf="depuracionOn" class="font-smaller text-danger">
                    {{spyColonia.className.replace('form-control','')}}</i>
                </div>
                <div class="col-12 col-sm my-2">
                    <input type="text" class="form-control" placeholder="C.P."
                    [(ngModel)] ="direccionForm.cp" name="cp"
                    [class.valorValido] = "cpOk"
                    [class.valorInvalido] = "!cpOk"
                    (blur) = "validarCp()"
                    required>
                    <div [hidden]="!avisarErrorCp" class="alert alert-danger">
                        El c&oacute;digo postal es obligatorio y debe estar formado por 5 d&iacute;gitos
                    </div>
                </div>     
            </div>
            <div class="form-row">
                <div class="col-12 col-sm-6 col-md-4 my-2">
                    <select class="custom-select form-control requerido" 
                      [(ngModel)]  = "direccionForm.cveEstado" name="iEstado" 
                      [class.valorValido] = "cveEstadoOk"
                      [class.valorInvalido] = "!cveEstadoOk"
                      (blur) = "validarCveEstado()"
                      >
                      <option selected value="-1">Estado</option>
                      <option *ngFor="let edoI of estados; let i=index " value="{{i}}">{{edoI}}</option>
                    </select>
                    <div [hidden]="!avisarErrorCveEstado" class="alert alert-danger">
                        Debe elegir un estado
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 my-2">
                    <select class="custom-select form-control requerido" 
                      [(ngModel)]  = "direccionForm.cveMunicipio" name="iMunicipio" 
                      [class.valorInvalido] = "!cveMunicipioOk "
                      [class.valorValido] = "cveMunicipioOk"
                      (blur) = "validarCveMunicipio()"
                      >
                        <option selected value="-1">Municipio</option>
                        <option *ngFor="let munI of municipios[direccionForm.cveEstado ]; let i=index " 
                                value="{{i}}">{{munI}}</option>
                    </select>
                    <div [hidden]="!avisarErrorCveMunicipio" class="alert alert-danger">
                        Debe elegir un municipio
                    </div>
                </div>
            </div>
            <div class="mt-5 form-row">
                <button class="btn btn-success ml-auto mr-auto col-12 col-sm-6 col-md-4 col-xl-3" 
                    [disabled] = "valoresFormularioSonInvalidos()"
                    type="submit" (click)="insertarDireccion();">Registrar</button>
            </div>
        </form>
</div>
<div *ngIf="depuracionOn" class="table-dark p-1 mt-1 rounded">
    <small class="text-warning font-weight-bold table-dark text-monospace">{{diagnostico}}</small>
</div>
<div *ngIf="direcciones.length" class="mt-3">
    <hr class="border-warning my-3">
    <table class="table table-warning table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Calle</th>
                <th>Num Ext</th>
                <th>Num Int</th>
                <th>Colonia</th>
                <th>C.P.</th>
                <th>Estado</th>
                <th>Municipio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dirI of direcciones">
                <td scope="row">{{dirI.calle}}</td>
                <td>{{dirI.numeroExt}}</td>
                <td>{{dirI.numeroInt}}</td>
                <td>{{dirI.colonia}}</td>
                <td>{{dirI.cp}}</td>
                <td>{{estados[dirI.cveEstado]}}</td>
                <td>{{municipios[dirI.cveEstado][dirI.cveMunicipio]}}</td>
            </tr>
        </tbody>
        <caption>Direcciones capturadas</caption>
    </table>
</div>