<h5 class="mb-3 text-info">Componente <pre class="d-inline">reactive-form06-valid</pre></h5>

<div class="custom-control custom-switch col-12 ">
    <input type="checkbox" class="custom-control-input" id="customSwitch1" (input)="prenderApagarExplicacion()" 
    [checked]="explicacionOn">
    <label class="custom-control-label" for="customSwitch1">Mostrar/Ocultar Decripci&oacute;n y comentarios </label>
</div>
 
<div *ngIf="explicacionOn" class="bg-light border border-secondary p-3 my-3 rounded">
    <div class="text-center font-weight-bold">Ejemplo de validaci&oacute;n As&iacute;ncrona</div>
    <div class="text-muted mt-2">
        <strong>Caracter&iacute;sticas:</strong>
        <ul>
            <li>Cada teléfono se valida contra un servicio de datos, de manera asíncrona,
                a través de un validador asíncrono.
            </li>
            <li>
                El servicio de datos tiene un retraso artificial para poder observar el paso
                del tiempo tras el inicio y fin de una validación.
            </li>
        </ul>
        <strong>Aspectos t&eacute;cnicos relevantes</strong>:
        <ul>
            <li>
                La función de validación es generada por una función que crea un contexto
                de cerradura, para que la función pueda acceder al servicio de datos.
            </li>
            <li>
                Observe que se evalúan en el <i>template</i> los estados <i>pending</i>
                asociados a los campos y al formulario.
            </li>
        </ul>
    </div>   
</div>

<div class="p-3 border border-danger table-warning rounded rounded-lg mt-3">
    <form [formGroup]="formulario" (ngSubmit)="insertarTelefonos();" >
        <div class="text-secondary font-weight-bold my-2">Tel&eacute;fonos:</div>
        <div class="form-row ">
            <div class="col-12 col-sm-4 col-md-3  mx-auto">
                <input type="text" class="form-control text-center" placeholder="tel&eacute;fono 1" 
                    formControlName="tel1" required >
                <div *ngIf="tel1.invalid && ( !tel1.pristine )" 
                    class="alert alert-danger">
                    <span *ngIf="tel1.errors.required">
                        Campo obligatorio.
                    </span>
                    <span *ngIf="tel1.errors.pattern">
                        Formato inv&aacute;lido. Deben ser 10 d&iacute;gitos consecutivos.
                    </span>
                    <span *ngIf="tel1.errors.telYaExiste">
                        La validaci&oacute;n as&iacute;ncrona detect&oacute; que ese n&uacute;mero 
                        ya existe en la base de datos.
                    </span>
                </div>
                <div *ngIf="debugOn">{{ estadosTel1 }}</div>
            </div>
        </div>
        <div class="form-row mt-2">
            <div class="col-12 col-sm-4 col-md-3  mx-auto">
                <input type="text" class="form-control text-center" placeholder="tel&eacute;fono 2"
                formControlName="tel2" >
                <div *ngIf="tel2.invalid && ( !tel2.pristine )" 
                class="alert alert-danger">
                <span *ngIf="tel2.errors.pattern">
                    Formato inv&aacute;lido. Deben ser 10 d&iacute;gitos consecutivos.
                </span>
                <span *ngIf="tel2.errors.telYaExiste">
                    La validaci&oacute;n as&iacute;ncrona detect&oacute; que ese n&uacute;mero 
                    ya existe en la base de datos.
                </span>
            </div>
            <div *ngIf="debugOn">{{ estadosTel2 }}</div>
        </div>
        </div>
        <div class="form-row mt-2">
            <div *ngIf="formulario.errors?.telefonosIguales && (formulario.dirty || formulario.touched)" 
                class="col-12 col-sm-10, col-md-6 mx-auto alert alert-danger">
                Los tel&eacute;fonos deben ser distintos entre ellos
            </div>
        </div>
        <div class="form-row mt-2">
            <div *ngIf="tel1.pending || tel2.pending" class="alert alert-secondary col-12 col-sm-6 mx-auto text-center">
                <small>Se est&aacute; procesando la validaci&oacute;n as&iacute;ncrona.</small>
            </div>
        </div>
        <div class="mt-5 form-row">
            <button class="btn btn-danger ml-auto mr-auto col-12 col-sm-6 col-md-4 col-xl-3" 
                [disabled] = "formulario.invalid || formulario.pending"
                type="submit" >Registrar</button>
        </div>
    </form>
</div>
<p class="font-weight-bold" *ngIf="debugOn">
     Form Status: <span class="text-monospace" 
         [class.text-danger]="formulario.invalid">{{ formulario.status }}</span>
</p>    
