<div class="container">
  <h3 class="text-primary text-center mt-3">Ejemplos de Implementaci&oacute;n de Formularios</h3>
  <div>
    <div class="row mt-4">
      <h4 class="text-secondary mt-4"><i>Template Driven Forms</i></h4>
    </div>
    <div class="row justify-content-end">
      <div class="col-12 col-md ml-2 table-warning rounded p-2"> 
        <div class="custom-control custom-switch ">
            <input type="checkbox" class="custom-control-input" id="customSwitchEjm01" 
            [checked]="mostrarEjemplo01" (input)="activarDesactivarEjemplo01()">
            <label class="custom-control-label" for="customSwitchEjm01"><small>Mostrar/Ocultar ejemplo de Formulario con Validaci&oacute;n manual</small></label>
        </div>
      </div>
      <div class="col-12 col-md ml-2 table-success rounded p-2"> 
        <div class="custom-control custom-switch ">
            <input type="checkbox" class="custom-control-input" id="customSwitchEjm02" 
            [checked]="mostrarEjemplo02" (input)="activarDesactivarEjemplo02()">
            <label class="custom-control-label" for="customSwitchEjm02"><small>Mostrar/Ocultar ejemplo de Formulario con Validaci&oacute;n incorporada</small></label>
        </div>
      </div>
    </div>
    <div *ngIf="mostrarEjemplo01" class="row mt-4">
      <div class="col-12">
        <app-form-templ-driven01></app-form-templ-driven01>
      </div>
    </div>
    <div *ngIf="mostrarEjemplo02" class="row mt-4">
      <div class="col-12">
        <app-form-templ-driven02></app-form-templ-driven02>
      </div>
    </div>
  </div>
</div>
